<a href="https://colab.research.google.com/github/AnesCajic/Data-Science-for-Customer-Insight/blob/main/Data_Science_for_Customer_Insights_Python_Introduction_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science for Customer Insights - Python Introduction Course

Welcome to Data Science for Customer Insights. In the following tasks, you will learn how to do Data Science with Python. In the end, you will be able to: 

- do basic coding and use Python loops, lists, functions and more
- access and apply machine learning algorithms to data sets
- understand fundamental machine learning concepts

Please go trough all tasks and answer the questions carefully. **This is task-based learning - you will have to Google a lot**. You can use any credible source material, you like, e.g.: 

- stackoverflow
- SoloLearn
- DataCamp
- udemy

Again - you will potentially have to Google everything, this is normal!

Also, every time you see those signs "**...**" you have to change them to generate the correct code.

**Before you start: Please provide your information**

Name: Anes Cajic

Matr.: 7168903

##First Steps

**Print Function**

By using the print statement, we're able to output text. 

*Please run the following code*:

In [1]:
print ('Hello World')

Hello World

<img src="https://miro.medium.com/max/1250/1*iNw33pBEYZIAoE9oHdhLLw.jpeg" width=500 height=330>

<strong>Basic Operations</strong>

With Python, you can easily do some calculations. 

*Tap around to perform an addition with a result of 5:*

In [4]:
3 + 2

5

*Try to divide by 2 to get a result of 2.00*

**<strong><font color='blue'> Side Note:** we call 2.00 a float variable, while 2 is called an integer variable. Despite seemingly being the same, Python sees them as different datatypes which for example leads to differnt memory needs.</font></strong>

In [5]:
4/2

2.0

**Comments**

You can comment your code, to explain something for later reference.

*Please turn "This is just a comment" into a proper comment.*

In [7]:
4 + 4
#This is just a comment

8

**Storing Values**

You can store values in variables.

*Please complete the code to generate 42 as an output.*

In [8]:
a = 21

b = a * 2

print(b)

42

**ZeroDivisionError**

Dividing by zero produces an error, as no answer can be calculated. 

*You don't believe that? Tap around and divide 3 by zero.*

In [9]:
3/0

ZeroDivisionError: ignored

**Other numerical Operations**

You can also use Python for exponentiation or the quotient and remainder of a division.

*Perform an exponentiation with a result of 32:*

In [13]:
2**5

32

*Try to get the remainder of the division 1.25 by 0.5 (should be 0.25):*

In [14]:
1.25%0.5

0.25

##Data Types

If Python handles data, it has to somehow turn it into 1s and 0s. Depending on the type of data, Python uses different internal representations. It is therefore very important, to always make sure your data has the right data type.

**Integers**

Integers are whole numbers like: 

- 5 
- 3

**Floats**

Numbers that aren't integers are represented as floats in Python ("a floating point number"). Some examples are: 
- 0.8
- -5.346

How to create a float? 
By entering a number with a decimal point, or by using operations such as division on integers as well as operations on a float and an integer.

*Please build a float dividing 12 by 4 and try to convert it back into an integer (should be 3 not 3.0):*

In [20]:
# create float
a = 12/4
print(a)
# turn it into an integer
a = int(a)
print(a)

3.0
3

**Strings**

You have to use a string if you want to use text in Python. It's one of the basic things that store text like: 

- Python is fun
- I love Data Science

How to create a string? By entering text between two single or double quotation marks.

*Run the code to create a string:*

In [21]:
"Python is fun"

'Python is fun'

*What's wrong with the following string? Please correct it so that the type is 'str' and there is no error message!*

In [22]:
type("Lisa's brother likes good food.")

str

**Booleans&Comparisons**

You've already learned about integers, floats and strings. In Python, another type is the Boolean type. It has two values: True and False. By comparing values (using the equal operator ==), you can create Booleans. 

*Please define my_boolean as True:*

In [28]:
my_boolean = True 
print(my_boolean)

True

*Please compare two numbers and see if you get the "True" statement:*

In [29]:
11 == 11

True

*Is "hi" equal to "hello"? Try it out!*

In [30]:
"hi" == "hello"

False

The not equal operator (!=) is another comparison operator. 

*Please run the code:*

In [31]:
3!=3

False

*Please generate a True statement using the operator:*

In [33]:
"Hello" != "Hi"

True

In Python, you can also use operators (> and <) to determine whether one number (float or integer) is smaller than or greater than another.

*Tap around (change the ...) and generate one True as well as one False statement:*

In [34]:
24 > 16

True

In [35]:
6 < 6.0

False

**<strong><font color='blue'> Side Note: In the first lessons you've learned about the basic operations in Python. To be better prepared for the following steps, the table below provides a summary: </font></strong>**

<img src="https://i1.wp.com/makemeanalyst.com/wp-content/uploads/2017/06/Assignment-Operator.png?resize=590%2C426" width=500 height=300>

##Control Structures

**if&else statement**

<img src="https://www.tutorialspoint.com/python/images/if_else_statement.jpg" width=300 height=300>

*Now it's your turn! Change the following code (...) to generate "else":*

In [36]:
if 2 + 2 == 4:
  if 3 * 4 == 9:
    print ("if")
  else: 
    print ("else")

else

**<strong><font color='blue'> Side Note:**  Indentations are very important in Python, as they structure your code. </font></strong>

<img src="https://i.redd.it/wk843smkri441.jpg" width=500 height=300>

**Boolean Logic**

Boolean Logic is used to make more complicated conditions for if statements that rely on more than one condition. The Boolean operators are **and, or and not**.

*Tap around to get a false statement:*

In [37]:
print ( 2 < 3 and 2 > 6 )

False

*Change and correct the following code to print "Hi":*

In [38]:
age = 22 
money = 400 
if age > 20 and money > 50:
  print("Hi")

Hi

**Lists**

Lists are used to store multiple items. By using square brackets with commas separating items, you can create a list. 

*Try to print the first argument of the list ("Hello").*

In [42]:
words =  ["Hello", "world", "!"]
print (words[0])

Hello

*Change the code to create a list and print its 3rd element:*

In [44]:
the_list = [33, 66, 99]
print(the_list[2])

99

**Loops**

A for loop is used to repeat a block of code multiple times. It is common to use the for loop when the number of iterations is fixed (e.g. iterating over a fixed list of items in a shopping list), but there are other loops as well.

*Change the code below to print all elements of your list:*

In [49]:
your_list = ['a','b','c','d']

for i in your_list:
  print (i)

a
b
c
d

*Please change the ... to correct the code so that the loop is broken after the loop reaches the 'c' in your list.*

In [50]:
for item in your_list: 
  print(item)
  if item == "c": 
    print ("Breaking")
    break 

print("Finished")

a
b
c
Breaking
Finished

What's wrong with the following code? 
*Please find the correct code to count all the 't' letters in the string. ATTENTION, you have to correct multiple errors and may need to change pre-written code.*

In [56]:
str = "testing for loops to count 't's"
count = 0 

for i in str: 
  if i == 't':
    count = count+1

print (count)

5

**Range**

The range() function returns a sequence of numbers. By default, it starts from 0, increments by 1 and stops before the specified number. 

*The code below should generate a list containing all of the integers, up to 10 (not incl.). Please change the following code (...):*

In [57]:
numbers = list(range(10))

print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

*Now change the code below to print every even number from 10 to 19 using range:*

In [61]:
numbers = list(range(10,20))

print([i for i in numbers if i%2 == 0])

[10, 12, 14, 16, 18]

##Functions & Modules

**Functions**

In addition to using pre-defined functions like range() or print(), you can create your own functions by using the def statement. You have to define functions before they are called! This is especially useful, if you want to do similar operations again and again.

*Try for yourself and build a function "quattro_hello" which prints "hello" four times.*

In [70]:
def quattro_hello():
  # build a proper loop to print your output four times 
  for i in range(1,5): 
    print ("hello")

*Now call your function and see if it prints 'hello' three times:*

In [72]:
quattro_hello()
#Bemerkung: in the task it says three times? wasn't it supposed to call the function four times? ^^

hello
hello
hello
hello

It is also possible to define a function that takes an argument. 

*Please change the following code to build a function that prints a given text and adds a question mark:*

In [80]:
def hello_function (str):
  print (str + "?")

hello_function("HI")
hello_function("What do you want")

HI?
What do you want?

**<strong><font color='blue'> Side Note:**  Python can take any form of object as input to a function AND (almost) everything in Python is an object !! </font></strong>





<img src="https://miro.medium.com/max/625/1*mPpNrH_b3DEd0HiljDqMkw.png" >

*And 2 arguments (develop a code to get a result of 16):*

In [84]:
def print_sum(a,b):
  print(a + b)

print_sum(5,11)
#it was (6,11) before that - perhaps a mistake in the task?

16

*Fill in the ... to define a function that takes two arguments and prints their multiplication:*

In [85]:
def print_mult(x,y):
  print(x * y)
print_mult(2,2)

4

*Fill in the ... to define a function that prints whether the first given paramter is greater or equal than the second paramter - or not:*

In [93]:
def compare(x, y):
  if x>=y:
    print("The first given parameter is greater or equal than the second one.")
  else:
    print("The first given parameter is not greater or equal than the second one.")

compare(3,3)

The first given parameter is greater or equal than the second one.

**Modules & Libraries**

Modules refer to a file containing Python functions. A file containing Python code, for example: example.py, is called a module, and its module name would be example. The basic way to use a mdule is to add import *some_module_name* at the top of your code, and then using *some_module_name*.var to access functions and values with the name var in the module. This allows you to access complex functions programmed by other people.

*Please import a fitting module and generate 5 random numbers from the interval [0,10):*

In [102]:
import random

for i in range(5): 
  #generating random float numbers in the interval
  value = random.uniform(0,10)
  print(value)

6.666783444456512
6.633726526465891
3.9875734855696465
1.7121216582723375
0.18195773099294987

*Please import only the pi constant from the respective module and print pi:*

In [103]:
from math import pi

print(pi)

3.141592653589793

<img src ="https://i.redd.it/37xqk9umycn31.jpg" width=500 height=400>

**Pip Install**

pip is a package management program for Python packages from the Python Package Index (PyPI). It allows you to install and manage software packages written in Python. Basically, it lets you install different modules.

Before you learn how to install and import packages, the first step would be to actually make sure you've the correct Python verison installed in your system. 

*Fill in the ... to check this and the version installed:*

In [106]:
!python --version

Python 3.9.16

*Please correct the following code to install the scenedetect package:*

In [109]:
import scenedetect # are you able to import the package? - No.

SyntaxError: ignored

In [111]:
pip install scenedetect #pip install the package

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scenedetect
  Downloading scenedetect-0.6.1-py3-none-any.whl (115 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.1/115.1 KB 3.5 MB/s eta 0:00:00
Requirement already satisfied: appdirs in /usr/local/lib/python3.9/dist-packages (from scenedetect) (1.4.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from scenedetect) (4.65.0)
Requirement already satisfied: Click in /usr/local/lib/python3.9/dist-packages (from scenedetect) (8.1.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from scenedetect) (1.22.4)
Installing collected packages: scenedetect
Successfully installed scenedetect-0.6.1

In [112]:
import scenedetect # you should be able to import it now! - Yes.

Uninstalling/removing a package is very easy with pip. 

*Please uninstall scenedetect again:*

In [113]:
pip uninstall scenedetect

Found existing installation: scenedetect 0.6.1
Uninstalling scenedetect-0.6.1:
  Would remove:
    /usr/local/bin/scenedetect
    /usr/local/lib/python3.9/dist-packages/scenedetect-0.6.1.dist-info/*
    /usr/local/lib/python3.9/dist-packages/scenedetect/*
Proceed (Y/n)? y
  Successfully uninstalled scenedetect-0.6.1

##Exceptions

**Exception and Exception Handling**

Exception is an event that occurs due to incorrect code or input. 

*Please generate a zero devision error:*

In [114]:
3/0

ZeroDivisionError: ignored

*Please create a NameError:*

In [115]:
x = y+1
print(x)

NameError: ignored

*Please generate a TypeError:*

In [116]:
x = 'April April'
y = x/2

TypeError: ignored

*Please create a ValueError:*

In [118]:
x = int("Richard")
print(x)

ValueError: ignored

To handle exceptions, and to execute further code despite occuring errors, you can use a try/except statement. 

*Please change the following code to print "an error occured - but the interpreter continued":*

In [120]:
try:
  num1 = 7
  num2 = 0
  print(num1/num2)
  print("calculation done")
except:
  print ("an error occured - but the interpreter continued")

an error occured - but the interpreter continued

<img src ="https://img.devrant.com/devrant/rant/r_1200037_6jt6c.jpg" width=500 height=300>

##Data Science Modules

**Numpy**

*Please fill in the ... to learn more about Numpy:*

NumPy is a program library for the programming language Python. NumPy extends Python with **tools** for scientific computing and **mathematical** calculations. The library enables efficient computing with  vectors, **matrices** and multidimensional **arrays**.

*Please import Numpy as np:*

In [122]:
import numpy as np

*Please define a list 'cvalues' with different temperatures:*

In [123]:
 cvalues = [20.1, 20.8, 21.9, 22.5, 22.7, 
           21.8, 21.3, 20.9, 20.1]

*From our list 'cvalues' we now create a one-dimensional NumPy array, so please change the following code:*

In [124]:
C = np.array (cvalues)
print (C, type(C))

[20.1 20.8 21.9 22.5 22.7 21.8 21.3 20.9 20.1] <class 'numpy.ndarray'>

*Now let us assume that we need the values in degrees Fahrenheit instead of degrees Celsius.
This can be done very easily with a NumPy array. The solution of our problem are simple scalar operations. Let's do this:*

In [126]:
print(C * 1.8 + 32)

[68.18 69.44 71.42 72.5  72.86 71.24 70.34 69.62 68.18]

*Please find out what the shape of 'C' is:*

In [129]:
print("shape of array:", C.shape)

shape of array: (9,)

*Try to create a numpy array with the shape 4x2 (4 rows, 2 columns), containing only zeros*

In [131]:
numpyzeros = np.zeros((4, 2))
print(numpyzeros)

[[0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]]

**Pandas**

pandas is a program library for the Python programming language that provides tools for data management and analysis. In particular, it contains data structures and operators for accessing tables and time series.

*Please import pandas as pd and check the version:*

In [ ]:
import pandas as pd
print(pd.__ ... __)

*Create a pandas series from a list with strings, a numpy array with integers and a dictionary with the combination of your list and your numpy array:*

In [ ]:
# Inputs
import pandas as pd
import numpy as np
mylist = ...
myarr = ...
mydict = ...(...(mylist, myarr))

# Solution
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
print(ser1.head())
print(ser2.head())
print(ser3.head())

**<strong><font color='blue'> Side Note:** Note that a Pandas Series consists of an index (left column) and values (right column). This is important for accessing values.</font></strong>

*Now create a 4x4 DataFrame with random integer values:*

---

In [ ]:
# create a numpy 4x4 numpy matrix with random integer values
myarr = (np. ... (4,4)*10). ... .astype(int)

df = ...(myarr)
print(df)

Let's learn something about indexing and slicing. 

 **.loc()** has multiple access methods like:

- A single scalar label
- A list of labels
- A slice object
- A Boolean array

**loc** takes two single/ list/ range operator separated by ','. The first one indicates the row and the second one indicates columns.

*Please complete all the tasks:*

In [ ]:
#import the pandas library as pd
import pandas as pd
import numpy as np

# you may reuse myarr from above, otherwise please recreate a 4x4 numy array
df = ...(myarr,index = ['a','b','c','d'], columns = ['A', 'B', 'C', 'D'])

#select the value in row b, columnd C
print(...)

#select all values in row b
print(...)

#select all values in from row b to d, and column A to C
print(...)

*You can use boolean logic to slice dataframes as well. This is extremely handy in many situations. Please complete the tasks given in the comments. **Do not manually select the correct column (by just stating column X and row y)**:*

In [ ]:
# select all rows with a positive value in the 'A' column
print (...)

# select all columns with a positive value in the 'b' row
print (...)

Now we are working with **.iloc()**. Pandas provide various methods in order to get purely integer based indexing. Like python and numpy, these are 0-based indexing.

The various access methods are as follows:
- An Integer
- A list of integers
- A range of values

*Tap around and change the ... to complete the tasks in the comments:*

In [ ]:
# you may reuse df, otherwise, please create a new 4 by 4 dataframe

# print the first 3 columns using 'i' and the loop
for i in range(3):
  print(...)

# print every second row using range
...[range( ... ) ... ]

You can read existing tables with pandas, to work with them in Python. The most common table format is csv. 

*Please download the following file (https://drive.google.com/file/d/1rabckY6MNXi3kGEDJ2KIXGB1rsmdwbEr/view?usp=sharing), upload it to your Colab environment and change the path to read it:*

In [ ]:
import pandas as pd
df = pd.read_csv ('...')
print(df)

*Let's change the Data a bit:*

In [ ]:
# Delete the 'fuel consumption' column
df = 

# Delete all rows, where the price is not available 
df = 

# Let's only keep cars, with more than 100 PS
df = 

df # Let's see if the table looks good

*Now, please save the dataframe as a new csv file*

In [ ]:
name = 'cars_new.csv'

...

**Matplotlib**

Matplotlib is a program library for the programming language Python, which allows to plot your data.

<img src ="https://miro.medium.com/max/1000/1*WACiczYwdWTnJ94mnizS4Q.jpeg" width=500 height=300>


*Please generate a positive linear function and plot it using matplotlib:*

In [ ]:
import numpy as np
import matplotlib.pyplot as plt 
a = np. ... # please create 10 evenly spaced numbes between 0 and 1 
b = np. ... # please create 10 evenly spaced numbes between 0 and 10 
plt.plot(a,b)
plt.show()

*Now, try to plot a scatter plot, where you see each individual point*

In [ ]:
...(a,b)
plt.show()

*Now, we want to build a histogram:*

In [ ]:
# Let's start by creating a list of 100 random numbers between 0 and 90
import random
random_numbers=[]
for i in range(100):
  random_numbers. ...

# Now let's plot a histogram with 10 bins
import ... as plt
plt. ... ( ... )
plt.show()

**Sklearn**

scikit-learn is a open source library for data analysis in Python based on other Python libraries: NumPy, SciPy and Matplotlib. It contains a number of implementations for various common machine learning algorithms.

*Let's start by creating some data:*

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

# create 40 random float numbers
X = 10* ...  

y = 3 * X + np.random.randn(40)*5

# Take a look at your data with a scatter plot
...
plt.show()

In many cases, it can be useful or necessary to standardize your data, so that both your X and y have a mean of 0 and a standard deviation of 1.

*Try to standardize X and y using sklearn methods. You should receive 2 True as a result:*

In [ ]:
from sklearn import ...
import numpy as np
X_scaled = ...
y_scaled = ...

print(X_scaled.mean().round(10) == 0 and y_scaled.mean().round(10) == 0)
print(X_scaled.std().round(10) == 1 and y_scaled.std().round(10) == 1)

**<strong><font color='blue'> Side Note:** We may have to add a 'round(10)' here as Python works numerically - instead of getting an exact 0, you may sometimes get something like 2.2204460492503132e-17, which is practically 0, once we round to the tenth decimal point.</font></strong>

*Let's make sure standardization did not change any proportions, by again producing a scatter plot with the scaled data:*

In [ ]:
...(X_scaled, y_scaled)
plt.show()

<img src ="https://preview.redd.it/phfw135f17u41.jpg?width=960&crop=smart&auto=webp&s=0074296cef9eeeb7a40a03f19e618b847c756426" width=500 height=300>

##Regression with Sklearn

There are **five basic steps** when you’re implementing linear regression:

1. Import the packages and classes you need.
2. Provide data to work with and eventually do appropriate transformations.
3. Create a regression model and fit it with existing data.
4. Check the results of model fitting to know whether the model is satisfactory.
5. Apply the model for predictions.

**Step 1: Import packages and classes**

*Please import the package numpy and the class LinearRegression:*

In [ ]:
import numpy as np
from ... import LinearRegression

The fundamental data type of NumPy is the array type called numpy.ndarray. From now on, we're using the term array to refer to instances of the type numpy.ndarray.

**Step 2: Provide data:**

The second step is defining data to work with. The inputs (regressors, 𝑥) and output (predictor, 𝑦) should be arrays (the instances of the class numpy.ndarray) or similar objects. Please reuse X_scaled and y_scaled. If this did not work, use the alternative data provided. 

*If necessary, change the following code to provide data for the regression:*

In [ ]:
# IF YOU DID NOT MANAGE TO CREATE X_scaled and y_scaled, uncomment and use the following lines
# X_scaled = np.array([-0.51,  0.67, -0.47,  0.6 ,  1.71, -0.16,  0.34, -1.02, -0.68,
#         2.43, -1.2 ,  0.51, -0.91,  0.66, -0.53, -2.31, -0.65,  1.34,
#         0.11,  1.1 ,  1.52, -0.96, -1.29, -0.71, -0.3 ,  1.46, -1.08,
#         0.24, -0.  ,  0.28,  0.9 ,  0.75, -0.62, -0.71,  1.56, -0.33,
#         0.14, -1.43, -0.66,  0.2 ])
# y_scaled = np.array([-0.46,  0.63, -0.3 ,  0.66,  1.62, -0.55,  0.27, -1.03, -0.68,
#         2.25, -1.25,  0.47, -0.51,  0.63, -0.62, -2.42, -0.76,  1.44,
#        -0.12,  1.38,  1.6 , -1.22, -1.21, -0.63, -0.37,  1.24, -1.18,
#         0.37,  0.17,  0.4 ,  0.88,  0.77, -0.49, -0.44,  1.63, -0.37,
#         0.02, -1.36, -0.51,  0.07])

*Please print the variables X_scaled and y_scaled to check if they are correct:*

In [ ]:
...
...

**Step 3: Create a model and fit it**

The next step is to create a linear regression model and fit it using the existing data.

*Please create and fit the model (fitting means, sklearn will estimate your parameters for a given Input using the specified model):*
**Attention: Many times, sklearn needs input of a specific shape. If this is the case (as it will be here), you may be required to reshape data, even if is basically the same, e.g. reshaping a (n,) array to a (n,1) array.**

In [ ]:
model = ...

**Step 4: Get results**

Once you have your model fitted, you can get the results to check whether the model works satisfactorily and interpret it.

*Please obtain the coefficient of determination (𝑅²):*

In [ ]:
r_sq = model. ...
print('coefficient of determination:', r_sq)

*Now, please also take a look at the estimated parameters for the intercept and the slope:*

In [ ]:
print('intercept:', ...)

print('slope:', ...)

The code above illustrates how to get 𝑏₀ and 𝑏₁. You may notice that the intercept is a scalar, while the slope is an array, as you can have multiple independent variables (X).

**Step 5: Predict response**

Once there is a satisfactory model, you can use it for predictions with either existing or new data.

*To obtain the predicted response for X_scaled, change the following code:*

In [ ]:
y_pred = ...
print('predicted response:', y_pred , sep='\n')

*Let's plot both original data and our predicted values as a line:*

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(...)
plt.plot(...)
plt.show()

In practice, regression models are often applied for forecasts. 

*Try to use the model to forecast a y value for a single random X value:*
**Attention: Make sure, you provide your data in the correct format expected by your model - this can not be an integer ;)**

In [ ]:
X = ...
y_new = ...
print(y_new)

## Machine Learning Pipeline

We will now execute a Machine Learning pipeline including data preparation, model training and performance evaluation using a Random Forest and a Linear Regression as a baseline model. 

We will use a dataset, where customers rated the quality of wine (For details, see: https://archive.ics.uci.edu/ml/datasets/Wine).

**Step 1: Data Preparation**


*Please load the two datasets properly, and store them in two dataframes:*

In [ ]:
import pandas as pd
url_white = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv'
url_red = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'

df_white = ...
df_red = ...

print(df_white.shape,df_red.shape) # does this look resonable? Make sure you have the correct number of columns. If necessary, take a look at your data!

*Now add a column "color" with the wine colors white = 0 or red = 1 respectively (to preserve this information) and combine both dataframes into one:*

In [ ]:
... # add color column to df_white
... # add color column to df_red
df_wines = ... # combine the two dataframes in a single long table

print(df_wines.shape) # this should be (6497, 13)

Remember, we want to understand **what drives customer's quality perception for wines**. To accomplish that, we want to predict the perceived quality of a wine (our dependent variable, y) using all other available variables (indepentend variables, X).

*Let's take a brief look at your dependend variable - how many wines per quality rating are there?*

In [ ]:
... # create a table with the number of occurences per quality value (e.g., there should be 193 wines rated 8)

*Now split the data in dependent (y) - quality - and independent(X) variable:*

In [ ]:
X,y = ...

print(y.head(3))
X.head(3) # Does this look good?

**Step 2: Training**

*Let's split the dataset so that 80% of the data is used to train the model and 20% is kept for future evaluation:*

In [ ]:
from sklearn.model_selection import ...
X_train, X_test, y_train, y_test = ...

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

Now we can define and fit our model on the training dataset. Let's do this for both a random forest and a linear regression model. Using two model will allow us to better evaluate our model performance in the end.

*Please fit a linear regression and a random forest model:*

In [ ]:
from sklearn.ensemble import ... # take suitable random forest module
from sklearn.linear_model import LinearRegression

model_rfo = ... # initialize random rorest model
model_lin = ... # initialize linear regression model

model_rfo.fit(...)
model_lin.fit(...)

**Step 3: Performance Evaluation**

*Now use the fitted model to evaluate performance on your 20% holdout test dataset, using the mean squared error (*MSE*) performance metric:*
Note, that neither model had 'seen' this data before. This is crucial.

In [ ]:
from sklearn.metrics import ... # please use MSE

y_hat_rfo = ... # make predictions using your random forest model
y_hat_lin = ... # make predictions using your linear regression model

mse_rfo = ... # calculate random forest prediction MSE
mse_lin = ... # calculate linear regression prediction MSE

print('MSE Random Forest: %.3f' % mse_rfo)
print('MSE Linear Regression: %.3f' % mse_lin)

<img src ="https://i.ibb.co/Yyk6PBP/laughing-men-testing.jpg" width=500 height=300>

*It is always a good idea, to get a visual intuition as well, so let's quickly plot ground truth y_test against our predictions y_hat_rfo and y_hat_lin*:

In [ ]:
import matplotlib.pyplot as plt

... # generate a scatter plot for your random forest predictions
plt.show()

... # generate a scatter plot for your linear regression predictions
plt.show()

Taking both the MSE and the visual representation - which model performs better?

In [ ]:
# write your answer

**Step 4: Generating Insights**

Let's use our model to find out what is the most important variable for quality. 

*Please create a dataframe which has all the X variables and their respective performance and sort the dataframe by importance:*

In [ ]:
insights = pd.DataFrame(columns=['variable','importance'])

insights['variable'] = ...
insights['importance'] = ...

insights. ... # please print the sorted table - what is most imporant?

## Advanced Machine Learning Pipeline

Finally we will now analyze the sentiment of thousands of tweets. The dataset we use includes english tweets about how good or bad flying with a specific airline was. We will use these tweets to predict, if the content of the tweet is positive, neutral or negative.

Because unstructured data in form of text is really hard to analyze for machine learning models we will now use a modern neural network. The neural net we will use is already trained to understand english language. In the upcoming cells we will download the model and train it (named fine-tuning) on the task of sentiment classification (e.g. predicting if the tweet is positive, neutral or negative in sentiment).

We will use code from the website huggingface.com. A website that hosts many of the latest trained neural networks. By starting with an already pre-trained network we reduce the amount of work that we need to do by a lot.
Many researchers today use such pre-trained models to then later train them to classify text, analyze images or other interesting data.

**Please fill in all the ... in the upcoming cells to make your model work.** If you ever need more information feel free to google about the code or look specifically into the documentation of the huggingface code we will be using. Link: https://huggingface.co/docs

First we install the transformer library (made by the huggingface team) that we need and import all needed packages

In [ ]:
!pip install --quiet transformers torch

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.8/5.8 MB 75.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.6/7.6 MB 105.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 182.4/182.4 KB 24.7 MB/s eta 0:00:00

In [ ]:
import torch
from transformers import AutoTokenizer,  AutoModelForSequenceClassification
from transformers import Trainer, TrainingArguments
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

To work with large language models like we are now doing, you need a graphics card (GPU). Run the next cell. If it outputs 'True', you are ready to continue.
If the next cell outputs 'False', you need to activate your GPU in Google Colab. 

For that:

1. Go to Menu at the top (Menü oben) > Runtime (Laufzeit) > Change runtime (Laufzeittyp ändern).
2. Change hardware acceleration to GPU (Hardwarebeschleuniger zu GPU).

In [ ]:
torch.cuda.is_available()

**Step 1: Data Preparation**

In [ ]:
url_train = 'https://raw.githubusercontent.com/Maximilianwte/Data-Science-for-Customer-Insight/main/train.csv'

In [ ]:
df = pd.read_csv(..., index_col=0) # Load the data from the variable url_train into a pandas dataframe

Next we need to transform the labels from text values (e.g. 'positive') to numerical values, so that the model can understand these. For that we first build a small lambda function and apply it to our dataframe.

In [ ]:
def transform_label(x): # build a function that returns 2 if input x is 'positive', returns 1 if x == 'neutral' and else returns 0
    if x == ...:
      return 2
    elif x == ...:
      return 1
    else:
      return 0

df['airline_sentiment'] = df['airline_sentiment'].apply(lambda x: transform_label(x))

Finally lets explore our dataframe to check if our transformation worked.

In [ ]:
df. ... # Display the first five rows of the train dataframe

   airline_sentiment                                               text
0                  1                @VirginAmerica What @dhepburn said.
1                  2  @VirginAmerica plus you've added commercials t...
2                  1  @VirginAmerica I didn't today... Must mean I n...
3                  0  @VirginAmerica it's really aggressive to blast...
4                  0  @VirginAmerica and it's a really big bad thing...

**Step 2: Loading model**

Next we load a model from the Huggingface Libary. We use a model that is already trained to understand english. If you want to, you can try out other models from the website by copying in the model name into the variable below: https://huggingface.co/models.

In [ ]:
model_name = "distilbert-base-uncased"

tokenizer = AutoTokenizer.from_pretrained(model_name, do_lower_case=True)
model = AutoModelForSequenceClassification.from_pretrained(model_name, num_labels=1).to("cuda")

**Step 3: Building the datasets classes and converting the text data to text embeddings**

For the model we need a train and validation dataset. Therefore we split the loaded dataframe into train and val.

In [ ]:
df_train = df.sample(frac=..., random_state=152) # Split the training data so that 20% are stored in df_val afterwards
df_val = df.drop(...) # drop all rows that are in df_train, so that there are no tweets in val that are already in train
len(df_val)

Next we convert the pandas dataframe into a dataset class, that makes it easier for the neural network to work with the data. You can write the code for such a dataset class yourself. You see the complete working class for this dataset below.

Typically such a dataset class includes 2 methods. The __getitem__() method, that will return a specific tweet when you want to get an item as usual (e.g. train[2] to get item 2) and the __len__() method, that returns the amount of data in your dataset.

Take a look at the class below to get an understanding. We put in the dataframe we loaded in previously as well as the tokenizer that will convert our tweets into numerical values so that the neural network can later work with it.

In [ ]:
class AirlineSentimentDataset(torch.utils.data.Dataset):
    def __init__(self, dataframe, tokenizer, max_length):
        self.dataframe = dataframe
        self.texts = self.dataframe.text.to_list()
        self.text_embeddings = tokenizer(self.texts, truncation=True, padding=True, max_length=max_length)
        self.labels = self.dataframe.airline_sentiment.values

    def __getitem__(self, idx):
        item = {k: torch.tensor(v[idx]) for k, v in self.text_embeddings.items()}
        item["labels"] = torch.tensor(float(self.labels[idx]))
        return item

    def __len__(self):
        return len(self.labels)

Here we now build an instance of our newly defined dataset class with our training and validation data. We then can use 'train_dataset' and 'val_dataset' in training the model.

In [ ]:
max_length = 64 # the maximum words a tweet is analyzed for

train_dataset = AirlineSentimentDataset(df_train, tokenizer, max_length)
val_dataset = AirlineSentimentDataset(df_val, tokenizer, max_length)

**Step 4: Training the model**

Now lets train the model. First we define the hyperparameters. These define for example how long the model should be trained or how many tweets the model should be trained on at each point in time.

In [ ]:
training_args = TrainingArguments(
    num_train_epochs=10,           
    per_device_train_batch_size= ..., # set batch size for training to 32
    per_device_eval_batch_size= ..., # also set the batch size for evaluation to 32
    load_best_model_at_end= ..., # activate that the best model will be chosen after training
    logging_steps=400,               
    save_steps=400,
    evaluation_strategy="steps", 
    output_dir="/content/model" 
)

To make the training work, the trainer must know if the model is getting better or not learning. Therefore here we define a metric for the trainer to use. Because we are doing classification we choose the accuracy score again.

In [ ]:
from sklearn.metrics import ... # load the accuracy_score from the sklearn library

def compute_metrics(pred):
  labels = pred.label_ids
  predictions = pred.predictions.argmax(-1)
  acc = ... (labels, predictions) # run the accuracy_score function with inputs labels and predictions
  return {
      'accuracy': acc,
  }

Here we define the trainer. The trainer is fitting the model parameters and minimizing the loss function to make the prediction as accurate as possible. You just need to define the trainer and afterwards start the training process. Then the model will get trained and we can use it to predict new data afterwards.

In [ ]:
trainer = Trainer(
    model=..., # put in the model that we loaded a few cells ago                         
    args=training_args,                  
    train_dataset=train_dataset,         
    eval_dataset=val_dataset,          
    compute_metrics=compute_metrics,     
)

In [ ]:
trainer. ... # train the model

**Step 5: Evaluation and prediction**

Now after we trained the model lets evaluate the model by printing out some technical metrics.

In [ ]:
trainer. ... # use a built-in method to evaluate your trained model

As our last task lets define a function that predicts the sentiment of any statement you put in using our new model.

In [ ]:
def get_prediction(text):
    inputs = tokenizer(text, padding=True, truncation=True, max_length=64, return_tensors="pt").to("cuda")
    outputs = model(**inputs)
    probs = outputs[0].softmax(1)
    classes = {0: 'negative', 1: 'neutral', 2: 'positive'}
    return classes[int(probs.cpu().detach().numpy()[0][0])]

Now test how good your model is. Try out any text to see if your model predicts the sentiment correctly.. and is your model good?

In [ ]:
get_prediction('...') # Come up with a sentence try your newly built model

Save your model so that you can use it in the future.

In [ ]:
model. ... # save your model

## Save & Submit

Please make sure you included your name and matrikel at the top of this notebook, save your work **with your name in the file name**, and send **two** files to jasper dot schwenzow at uni dash hamburg dot de:
- Ipynb *(Go to File -> Download .ipynb)*
- PDF *(Go to File -> Print -> Save as PDF)* (optional)